.u-section-1 .u-sheet-1 {
  min-height: 1395px;
}

.u-section-1 .u-list-1 {
  width: 800px;
  margin: 38px 152px 29px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 1328px;
  grid-template-columns: 100%;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px -49px 0 49px;
}

.u-section-1 .u-text-2 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 9px 49px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 40px -49px 0 49px;
}

.u-section-1 .u-text-4 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 9px 49px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 40px -49px 0 49px;
}

.u-section-1 .u-text-6 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 9px 49px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 40px -49px 0 49px;
}

.u-section-1 .u-text-8 {
  line-height: 1.9;
  font-size: 1.125rem;
  margin: 9px 49px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 18px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 184px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}