{% extends 'admin/adminbase.html' %}
{% block tile %}Customers List{% endblock tile %}
{% block maincontent %}
<div class="content container-fluid">
    <h2>Enquiry List</h2>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-center mb-0 datatable">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="font-weight-bold text-primary">Name</th>
                                    <th class="font-weight-bold text-primary">Place</th>
                                    <th class="font-weight-bold text-primary">Email</th>
                                    <th class="font-weight-bold text-primary">Phone</th>
                                    <th class="font-weight-bold text-primary">Message</th>
                                    <th class="font-weight-bold text-primary">Timestamp</th>
                                    <th class="font-weight-bold text-primary">actions</th>
                                    
                                </tr>
                            </thead>
                            
                                <tbody>
                                    {% for enquiry in enquiries %}
                                    <tr>
                                        <td>{{ enquiry.name }}</td>
                                        <td>{{ enquiry.place }}</td>
                                        <td>{{ enquiry.email }}</td>
                                        <td>{{ enquiry.phone }}</td>
                                        <td>{{ enquiry.message }}</td>
                                        <td>{{ enquiry.timestamp_enquiry }}</td>
                                        <td>
                                            <form method="post" action="{% url 'delete-enquiry' enquiry.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                    
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock maincontent %}