{% extends 'client/clientbase.html' %}
{% block tile %}add Turf{% endblock tile %}
{% block maincontent %}
<form method="post" action="{% url 'save_ground_client' %}">
    {% csrf_token %}
<div class="col-12 col-sm-6">
    <div class="form-group">
        <label for="turf">Select Turf</label>
        <select class="form-control" name="turf" required>
            <option value="">Choose Turf</option>
            {% for turf in turfs %}
                <option value="{{ turf.id }}">{{ turf.turf_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
       <label>Category</label>

       <select class="form-control" name="category" required>
          <option >Chooese one Ground  category </option>
          <option value="fives">Fives</option>
          <option value="sevens">Sevens</option>
          <option value="elevens">Elevens</option>
       </select>
    </div>
 </div> 
 <div class="col-12 col-sm-6">
    <div class="form-group">
        <label>Turf Image</label>
        <input type="file" class="form-control" name="ground_image" required>
    </div>
  </div> 

 

  <div class="col-12 col-sm-6">
      <div class="form-group">
          <label>Price Per Hour</label>
          <input type="text" class="form-control" name="price" required>
      </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add Ground</button>
</div>

</form>

{% endblock maincontent %}