{% extends 'client/clientbase.html' %}
{% block title %}List of Grounds for {{ turf.turf_name }}{% endblock title %}
{% block maincontent %}
<h1 class="mb-5">List of Grounds for {{ turf.turf_name }}</h1>
<div class="row">
  {% for ground in grounds %}
  <div class="col-xl-4 col-sm-6 col-12">
    <a href="{% url 'timeslot_list_client' ground_id=ground.id  %}">
        <div class="card flex-fill twitter sm-box">
            <h6 class="text-capitalize">{{ ground.ground_name }} </h6>
            <p>Uploaded By:  {{ turf.added_by.username }}</p>
        </div>
    </a>
</div>
{% if forloop.counter|divisibleby:3 %}
    </div><div class="row">
{% endif %}
   
  {% endfor %}
</div>
{% endblock maincontent %}

