{% extends 'client/clientbase.html' %}
{% block tile %}add Turf{% endblock tile %}
{% block customstyles %}
<style>
 
      
      p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
      }
      .checkmark {
      color: #9ABC66;
      font-size: 100px;
      line-height: 200px;
      margin-left: 35px;
    }
    .card {
      background: white;
      padding: 60px;
      border-radius: 4px;
      border: #F8FAF5;
      display: inline-block;
      margin: 0 auto;
    }
  .return-home-button {
    margin-top: 20px;
    display: none;
  }
</style>
{% endblock customstyles %}
{% block maincontent %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card">
    <div style="border-radius: 200px; height: 200px; width: 200px; background: #F8FAF5; margin: 0 auto;">
      <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <p>Redirecting to home page in <span id="countdown">5</span> seconds...</p>
    <a href="{% url 'clienthome' %}" class="btn return-home-button">Return to Home</a>
  </div>
</div>

<script>
  // JavaScript to redirect to home page after 5 seconds
  let countdown = 5;
  const countdownElement = document.getElementById('countdown');
  const returnHomeButton = document.querySelector('.return-home-button');

  const countdownInterval = setInterval(() => {
    countdown--;
    countdownElement.textContent = countdown;

    if (countdown === 0) {
      clearInterval(countdownInterval);
      returnHomeButton.style.display = 'block';
    }
  }, 1000);
</script>
{% endblock maincontent %}