{% extends 'user/user_basefile.html' %}
{% load static %}
{% block title %}Booking History{% endblock title %}
{% block maincontent %}
<div class="container">
    <h3>Booking History</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Turf Name</th>
                <th>Ground Name</th>
                <th>Reservation Date</th>
                <th>Amount Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.ground.turf.turf_name }}</td>
                <td>{{ booking.ground.ground_name }}</td>
                <td>{{ booking.reservation_date }}</td>
                <td>{{ booking.payment.amount }}</td>  <!-- Assuming Payment is related to Reservation through a ForeignKey -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock maincontent %}