{% extends 'user/user_basefile.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block maincontent %}
<div class="container py-5">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="section-title text-primary text-uppercase">Forgot Password</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>If you have forgotten your password, you can request a password reset by clicking below:</p>
                <a href="{% url 'send_reset_password_link' %}" class="btn btn-primary">Request Password Reset</a>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}

