{% extends 'user/user_basefile.html' %}
{% load static %}
{% block title %}Password Confirm{% endblock title %}
{% block maincontent %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset password Completed</h3>
            <hr>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed"allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock maincontent  %}